<form>
  <mat-form-field class="field" appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput name="firstName" [(ngModel)]="request.firstName">
  </mat-form-field>

  <mat-form-field class="field" appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput name="lastName" [(ngModel)]="request.lastName">
  </mat-form-field>

  <mat-form-field class="field" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput name="email" [(ngModel)]="request.email">
  </mat-form-field>

  <mat-form-field class="field" appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" matInput name="password" [(ngModel)]="request.password">
  </mat-form-field>
  
  <mat-form-field class="field" appearance="fill">
    <mat-label>Confirm Password</mat-label>
    <input type="password" matInput name="passwordConfirm" [(ngModel)]="request.passwordConfirm">
  </mat-form-field>

  <button mat-flat-button color="primary" (click)="register()">Register</button>
</form>